@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FPTJobMatch</h1>
    <p>
        Technology demands constant change and innovation. To achieve this, FPT has built generations of employees who are constantly learning and striving to bring FPT from one success to another. In 2023, FPT invested 187.3 billion VND in training activities and internal training programs, with 851,874 employee training sessions.
    </p>
</div>
