@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>About Us</h1>

<p>FPT, officially the FPT Corporation, is the largest information technology service company in Vietnam with operations spanning three fundamental sectors: Technology, Telecommunications and Education.</p>
